<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796376204069-h3fvreg9ca574sih8ksmlumeod75604u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796376204069-h3fvreg9ca574sih8ksmlumeod75604u</string>
	<key>API_KEY</key>
	<string>AIzaSyCtD0XomZs4kXqMaJASm7fx96yq-Fi0UkI</string>
	<key>GCM_SENDER_ID</key>
	<string>796376204069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>self.tw.-8-WeekMarathonTrainingProgram</string>
	<key>PROJECT_ID</key>
	<string>first-log</string>
	<key>STORAGE_BUCKET</key>
	<string>first-log.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796376204069:ios:057f24f71218329a</string>
	<key>DATABASE_URL</key>
	<string>https://first-log.firebaseio.com</string>
</dict>
</plist>